.header-fixed.toolbar-fixed .wrapper {
    padding-top: 102px;
}
.content {
    padding: 30px 29px;
}

.table td:first-child,
.table th:first-child,
.table tr:first-child {
    padding-left: 20px;
}

.table-admin-services th,
.table-admin-services td {
    padding: 13px;
}

.table-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-action {
    display: flex;
    align-items: center;
    gap: 15px;
}
